<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Create a New Listing</h3>
    <form action="/listings" method="POST">
        <input  name="listing[title]" id="" placeholder="Enter Title" type="text">
        <br>
        <textarea name="listing[description]"  type="text" id="" placeholder="Enter Description"></textarea>
        <br>
        <input  name="listing[image]" id="" type="text" placeholder="Enter Image URL/LINK">
        <br>
        <input  name="listing[price]" id="" placeholder="Enter Price" type="number">
        <br>
        <input  name="listing[location]" id="" placeholder="Enter Location" type="text">
        <br>
        <input  name="listing[country]" id="" placeholder="Enter Country Name " type="text">
        <br>
        <button>Add</button>
    </form>
</body>
</html>