.tax-info {
            display: none;
        }
   #filters-navbar {
            display: flex;
            gap: 28px;
            padding: 15px 15px;
            border-bottom: 1px solid #eee;
            background: #fff;
            overflow-x: auto;
            white-space: nowrap;
        }

        #filters-navbar::-webkit-scrollbar {
            display: none;
        }

        .nav-item {
            display: flex;
            align-items: center;
            gap: 9px;
            padding-bottom: 12px;
            font-size: 14px;
            font-weight: 500;
            color: #555;
            cursor: pointer;
            border-bottom: 2px solid transparent;
            transition: 0.2s;
        }

        .nav-item i {
            font-size: 18px;
            color: #555;
            transition: 0.2s;
        }

        .nav-item:hover {
            color: #000;
            border-bottom-color: #ccc;
        }

        .nav-item:hover i {
            color: #000;
        }

        /* ACTIVE STYLE */
        .nav-item.active {
            color: #FF385C;
            border-bottom: 2px solid #FF385C;
        }

        .nav-item.active i {
            color: #FF385C;
        }

        .tax-toggle {
            margin-left: auto;
            display: flex;
            align-items: right;
        }

        